endpoint_add_tcp "0.0.0.0:30120"
endpoint_add_udp "0.0.0.0:30120"

set mysql_connection_string "server=127.0.0.1;uid=root;password=;database=vrp"

###FiveM###
start mapmanager
start spawnmanager
start sessionmanager
restart sessionmanager
start fivem
start GHMattiMySQL
start vrp
start chat
start vrp_ghmattimysql
start bob74_ipl

### Conce and Garagem
start nation_concessionaria
start nation_garages

###TELEFONE###
start gcphone
start mysql-async

###"VRP"###
start vrp_admin
start vrp_identidade
start vrp_player
start vrp_policia
start fivem-map-hipster

### login fix
start vrp_login
#hud



##Carros##



###EMPREGOS###


###"FARDAS E ROUPAS"###

sv_scriptHookAllowed 0

#rcon_password
rcon_password 83064712526

sets banner_detail ""
sets banner_connecting ""
sets locale "pt-BR"
sets Mapa "FiveM Brasil"
sets Base "Gui Vendas"
set Site "hostlocal"
sets Discord "https://discord.gg/YvCwq6n"
sets tags "Roleplay, Los Santos, Carros, Armas, Facções, Policia, SEM WHITELIST, LSPD, ANTI-DDOS, RP, rp, Oficial, oficial, roleplay, Roleplay, roleplai, sao paulo, sp, rj, rio de janeira, brasil, Brasil, brazil, braseileiro, brasil, serio, youtuber, 64, slots, onesync, atualizado, creative, uprp, up-rp, portuguese, fast, whitelist, sem, policia, mafia, máfia, groove, grove, serve, server, servidor, ballas, balas, vagos, facção, vagas, samu, unimed, policia, militar, pm, Gabriel, rodrigo, adolfo, base, american, Destiny Oficial Roleplay, realista, sem, lag, ddos, proteção, inicial, money, novo, rapido, speed, site, anti-cheat, steam, hex, adm, mod, admin, vagas, livre, +18, +12, +10, regra, alan, zoka, alanzoka, live, brasileiro, sem hack, cami, razer, sorteio, capital, inglaterra, europa, estados unidos, eua, canada, esp, espanhol, espanha, portugual, pt-pt, pt-br, en-us, en-uk, comando, lingua, bug, atualizado, wipe, 2019, recem, lançado, gilmar, xande, xandi, vrp, base, FX, VRP, Vrp, VRp, RolePlay, rocam, GRPAe, grpae, pmesp, rota, bombeiros, cirurgia, loading, rapido, 60, fps, sem withelist, sem whitlist, medico, PF, pf, PC, pc, pcc, cv, brasilia, fab, Fab, execito,marinha,epcar,aman,cn"

sv_hostname "^2[BRASIL]^4💎 AlanRP💎|^3📋WHITELIST📋| 🎉^8SERVER NOVO🎉 ^3 💸50K Inicial💸 |🔫^1Facs e Orgs🔫|👮🏾^4PM,ROTA👮🏾|🚑 ^1SAMU🚑 | 🏆^6https://discord.gg/YvCwq6n🏆 |"

load_server_icon server.png
#sets banner_detail
#sets banner_connecting

# disable announcing? clear out the master by uncommenting this
#sv_master1 ""

set steam_webApiKey "29345E0CCDEC0DAE667AE5371E83A59B"

sv_authMaxVariance 1
sv_authMinTrust 5

add_ace group.admin command allow
add_ace group.admin command.quit deny

###set ac_webhook "https://discordapp.com/api/webhooks/615266837168390149/44KhDs9t8tnj6zpI5IjSJD_e7DSixtaHyX3aMxvjTiaO6f2eIMKGFkLc2ifZWwyeCZD9"


sv_maxclients 6
sv_endpointprivacy true

set onesync_enabled 1

# license key for server (https://keymaster.fivem.net)
sv_licenseKey cfxk_1s61M8JDZbrBirTUPOUrw_4fLvvU

###############################################################
##                    Copyright FiveM Brasil ©              ###
##                  Todos os direitos reservados            ###
###############################################################